<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        tr {
            padding-top: 8px;
            padding-bottom: 8px;
        }

        tr:hover td {
            background: rgb(240, 145, 186);
        }

        td {
            background: white;
        }
    </style>
</head>
<body>
    <tr class="row" th:onclick="|window.location.href='/detail?idx=${post.idx}'|" th:fragment="post(post)">
        <td class="post-idx" th:text="${post.idx}"></td>
        <td class="post-title" th:text="${post.title}"></td>
        <td class="post-writer" th:text="${post.writer}"></td>
        <td class="post-write-time" th:text="${post.write_time}"></td>
    </tr>
</body>
</html>